Repository jwstegemann/fritz2, pull requests merged in 2022-09, with the labels that each got.

#679 Fix for Attribute referenced id
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/checkboxGroup.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/radioGroup.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/switch.kt
Labels: headless

#680 Make render's lambda run on Tag instead of RenderContext
  core/src/jsMain/kotlin/dev/fritz2/core/mount.kt
  core/src/jsMain/kotlin/dev/fritz2/core/rendercontext.kt
  core/src/jsMain/kotlin/dev/fritz2/core/tags.kt
  core/src/jsTest/kotlin/dev/fritz2/core/mount.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/dataCollection.kt
Labels: api improvement

#681 Improve Headless Input API
  headless-demo/README.playwright.md
  headless-demo/src/jsMain/kotlin/dev/fritz2/headlessdemo/inputField.kt
  headless-demo/tests/checkbox.spec.ts
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/checkboxGroup.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/textfields.kt
  www/src/pages/headless/inputField.md
Labels: api improvement, api breaking, headless

#687 Repair aria-haspopup for PopUpPanel based components
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/listbox.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/menu.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/popOver.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/tooltip.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/foundation/PopUpPanel.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/foundation/aria.kt
Labels: headless

#688 Add default z-Index for PopUpPanel
  headless/src/jsMain/kotlin/dev/fritz2/headless/foundation/PopUpPanel.kt
  www/src/pages/headless/headlessComponents.md
Labels: headless

#691 Repair the ksp config
  examples-demo/build.gradle.kts
  headless-demo/build.gradle.kts
  headless-demo/src/commonMain/kotlin/dev/fritz2/headlessdemo/dataCollectionModel.kt
Labels: bug

#686 Add default data-binding as fallback for headless components
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/checkboxGroup.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/dataCollection.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/listbox.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/radioGroup.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/switch.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/textfields.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/foundation/DatabindingProperty.kt
Labels: headless

#689 Fix ModalPanel id being overridden
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/modal.kt
Labels: bug, headless

#690 Improve Focus Management on various headless Components
  headless-demo/src/jsMain/kotlin/dev/fritz2/headlessdemo/tabGroup.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/popOver.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/tabGroup.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/foundation/focus.kt
  www/src/pages/headless/tabGroup.md
Labels: bug, api improvement, headless
