Repository jwstegemann/fritz2, pull requests merged in 2023-02, with the labels that each got.

#747 Part 1 of RC3 documentation review
  README.md
  examples/gettingstarted/src/jsMain/resources/index.html
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/dataCollection.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/tabGroup.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/foundation/DatabindingProperty.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/foundation/OpenClose.kt
  snippets/src/jsMain/kotlin/dev/fritz2/examplesdemo/app.kt
  www/src/_data/examples.json
  www/src/_includes/components/codeExamples.njk
  www/src/blog/posts/paradigm-shift-for-components.md
  www/src/index.njk
  www/src/pages/docs/00_Documentation.md
  www/src/pages/docs/10_Getting Started.md
  www/src/pages/docs/20_Fundamentals.md
  www/src/pages/docs/30_Render HTML.md
  www/src/pages/docs/40_StoreCreation.md
  www/src/pages/docs/60_Routing.md
  www/src/pages/headless/checkboxGroup.md
  www/src/pages/headless/dataCollection.md
  www/src/pages/headless/disclosure.md
  www/src/pages/headless/headlessComponents.md
  www/src/pages/headless/inputField.md
  www/src/pages/headless/listbox.md
  www/src/pages/headless/menu.md
  www/src/pages/headless/modal.md
  www/src/pages/headless/popOver.md
  www/src/pages/headless/radioGroup.md
  www/src/pages/headless/switch.md
  www/src/pages/headless/tabGroup.md
  www/src/pages/headless/textArea.md
  www/src/pages/recipes/Recipes.md.bak
Labels: documentation

#749 Add some explicit information for dealing with CSS
  build.gradle.kts
  www/src/pages/docs/10_Getting Started.md
  www/src/pages/docs/30_Render HTML.md
Labels: documentation

#748 Fix renderEach behaviour after regression by RC3 release
  core/src/jsMain/kotlin/dev/fritz2/core/patch.kt
  core/src/jsTest/kotlin/dev/fritz2/core/rendercontext.kt
Labels: bug

#752 Substitute tailwindcss class with vanilla CSS
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/popOver.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/foundation/PopUpPanel.kt
Labels: bug, headless
