Repository jwstegemann/fritz2, pull requests merged in 2023-12, with the labels that each got.

#822 Improves PopUpPanel Rendering
  headless-demo/src/jsMain/kotlin/dev/fritz2/headlessdemo/components/listbox.kt
  headless-demo/tests/components/datacollection.datatable.spec.ts
  headless-demo/tests/components/listbox.spec.ts
  headless-demo/tests/components/menu.spec.ts
  headless-demo/webpack.config.d/tailwind.config.js
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/listbox.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/foundation/PopUpPanel.kt
  kotlin-js-store/yarn.lock
  versions.properties
Labels: headless

#824 improve event handling in dataCollection
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/dataCollection.kt
Labels: headless

#823 Improves and enhances the reactive styling
  core/src/jsMain/kotlin/dev/fritz2/core/mount.kt
  core/src/jsMain/kotlin/dev/fritz2/core/tags.kt
  core/src/jsTest/kotlin/dev/fritz2/core/tags.kt
  core/src/jsTest/kotlin/dev/fritz2/test.kt
  examples/validation/src/commonMain/kotlin/dev/fritz2/examples/validation/validator.kt
  headless-demo/package-lock.json
  headless-demo/package.json
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/listbox.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/menu.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/popOver.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/foundation/PopUpPanel.kt
  versions.properties
  www/src/pages/docs/30_Render HTML.md
Labels: api improvement, api breaking

#826 Improves the validation message filtering and resets the default behaviour
  core/src/jsMain/kotlin/dev/fritz2/validation/validation.kt
  core/src/jsTest/kotlin/dev/fritz2/validation/validation.kt
Labels: api improvement

#829 scope handling for portal containers
  core/src/jsMain/kotlin/dev/fritz2/core/foundation.kt
  core/src/jsMain/kotlin/dev/fritz2/core/scope.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/listbox.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/modal.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/toast.kt
  headless/src/jsMain/kotlin/dev/fritz2/headless/foundation/portalling.kt
Labels: headless
