Repository jwstegemann/fritz2, pull requests merged in 2024-02, with the labels that each got.

#852 fixing focustrap for firefox tests
  headless/src/jsMain/kotlin/dev/fritz2/headless/foundation/focus.kt
Labels: headless

#853 Improves Focus Management of RadioGroups
  headless/src/jsMain/kotlin/dev/fritz2/headless/components/radioGroup.kt
  www/src/pages/headless/radioGroup.md
Labels: enhancement, headless

#855 Make lenses genration more resilient with KSP >= 1.9.x
  lenses-annotation-processor/src/jvmMain/kotlin/dev/fritz2/lens/LensesProcessor.kt
  lenses-annotation-processor/src/jvmTest/kotlin/dev/fritz2/lens/LensesProcessorTests.kt
Labels: enhancement
